@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

#login {
  
  width: 320px;
  margin-top: 120px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}

.h{
  text-align: center;
  margin-left: 40px;
}

#login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}


#login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 250px;
  height: 50px;
}
echo{
	font-size:100px;
}

#login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top:20px;
  margin-bottom:5px;
}

.GFG{
	background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-size:18px;
  
	
}

#login form input[type="submit"]:hover {
  background: #1a1a1a;
}

.GFG:hover {
  background: #1a1a1a;
}






.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 10000px;
  padding-right:1000px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

table{
	margin-top: 30px;
	width:30%;
	border: 1px #transparent dashed;
	font-family:sans-serif;
	padding-top:20px;
	padding-right:1px;
	padding-left:150px;
	text-align:center;
	font-weight: bold;
}
td{
	width:70%;
	border: 1px #transparent dashed;
	font-family:sans-serif;
	padding:20px;
	text-align:center;
}


table{
	overflow: scroll;
	font-family:sans-serif;
}

th{
	
	font-family:sans-serif;
	text-align:center;
	font-size:30px;
	color:#ffffff;
	padding:25px;
	background:#000000;
	
}

tr{
  border:10px #70b8ff;
  padding-bottom:10px;
  font-family:sans-serif;
  text-align:center;
}


tr:hover {
	background-color: #f5f5f5;
	
}
